<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph-Based Route Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>    
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <style>
        #map {
            height: 400px;
        }
        #download{
            display: inline;
        }

        .hide {
            display: none;
        }

    </style>
</head>

<body>
    <div class="container mt-5">
        <h1>Find Shortest Path</h1>
        <form id="coordinateForm">
            <div class="form-group">
                <label for="startPoint">Start Point:</label>
                <input type="text" class="form-control" id="startPoint" name="startPoint" placeholder="Enter start point coordinates" required>
            </div>
            <div class="form-group">
                <label for="endPoint">End Point:</label>
                <input type="text" class="form-control" id="endPoint" name="endPoint" placeholder="Enter end point coordinates" required>
            </div>
            <div id="warning" class="alert alert-danger hide" role="alert"></div>
            <button type="submit" class="btn btn-primary">Find Shortest Path</button>
            <div id="download"></div>
        </form>
        <div id="result" class="mt-3"></div>
        <div id="map" class="mt-5"></div>
    </div>
</body>

</html>